:root {
  /* Light Mode Colors */
  --root-font: 'Inter', sans-serif;
  --root-bg: #1E1E1E

  --color-divider: #EEEEEE;

  /* Button Radius */
  --radius-button: 4px;

  /* Typography Sizes & Weights */
  --text-h1-size: 60px;
  --text-h2-size: 40px;
  --text-h3-size: 18px;
  --text-body-size: 18px;
  --line-height-body: 1.6;
  --font-weight-bold: 600;
  --font-weight-semi: 500;
  --font-weight-regular: 400;

  /* Font Families (from next/font) with fallback) */
  --font-sans: var(sans-serif);
}

